:root {
  --text-color: rgb(60, 60, 60);
  --text-color-background: rgb(255, 255, 141);
}
.css-imwso6-MuiBottomNavigationAction-label {
  font-family: 'Raleway' !important;
  color: var(--text-color);

  position: relative;
  bottom: 5px;
  font-weight: bold;
}
.css-1ee5err-MuiButtonBase-root-MuiBottomNavigationAction-root {
  background-color: var(--text-color-background) !important;
}
.css-1ee5err-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected
  .css-imwso6-MuiBottomNavigationAction-label {
  font-family: 'ZIzio' !important;
  font-size: 1em;
}

body {
  font-family: 'Raleway' !important;
  color: var(--text-color);
}
.App {
  background-color: white;
  color: var(--text-color);
  font-family: 'Raleway';
  width: 100vw;

  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 40px;
}

.body {
  display: grid;
  grid-template-columns: auto 3fr;
  overflow: hidden;
}
.content {
  overflow-y: scroll;
}

.Menu a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  color: var(--text-color);
  transition: ease-in-out 350ms;
}

.Menu a:hover {
  color: var(--text-color);
}
.Menu a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 100%;
  bottom: 0px;
  left: 0;
  background-color: var(--text-color-background);
  transform-origin: bottom right;
  transition: transform 400ms ease-out;
  z-index: -1;
}
.Menu a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom right;
}

.transparent-menu-ctn {
}

.Menu div:hover {
  color: rgb(126, 0, 105);
}

.Galerie h2,
.Galerie h6,
.Galerie p {
  font-family: 'Raleway';
}

.Galerie .picture-text {
  padding-top: 1.2em;
}

.PictureForm {
  width: 50%;
  padding-top: 20vh;
  margin: auto;
}

.Footer {
  color: var(--text-color);
  font-size: 0.8em;
  /* position: fixed; */
  bottom: 0;
  right: 0;
  padding: 10px;
  padding-right: 20px;
  background-color: white;
  border-top: 1px solid var(--text-color);
}

.Vita {
  width: 50%;
  margin: auto;
}

@media screen and (min-width: 600px) {
  .App {
    /* background-color: white;
    color: black;
    font-family: 'Open Sans'; */
    /* width: 100%; */
    /* padding: 50px; */
    /* margin-top: 20px; */
  }
  .Menu a {
    text-decoration: none;
    position: relative;
    transition: ease-in-out 350ms;
  }

  .Menu a:hover {
  }
  .Menu a::after {
  }
  .Menu a:hover::after {
  }

  /* .Main {
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  .Menu {
    text-align: right;
    font-size: 1.6em;
    /* font-family: 'Alfa Slab One', Cursive; */
  }

  .transparent-menu-ctn {
  }

  .Menu div:hover {
    /* color: rgb(126, 0, 105); */
  }

  /* .Logo {
    position: fixed;
    left: 0;
    top: 0;
    padding-left: 50px;
    padding-top: 30px;
    font-family: 'Alfa Slab One', Cursive;
    font-size: 2.4em;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 8px;
  } */

  .Logo {
    font-family: 'ZIzio';
    font-size: 3.5em;
    /* background-color: var(--text-color-background); */
    color: var(--text-color);
    margin-bottom: 20px;
  }

  .Main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 320px;
  }

  .Logo span {
    padding-bottom: 30px;
  }

  .Galerie {
    /* width: 75vw;
    padding-left: 25vw; */
  }

  .Galerie .picture-text {
    font-family: 'Raleway';
    padding-top: 1.2em;
  }

  .PictureForm {
    width: 50%;
    padding-top: 20vh;
    margin: auto;
  }

  .Footer {
    width: auto;
    font-size: 0.8em;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    padding-right: 20px;
    text-align: right;
  }

  .Vita {
    width: 50%;
    margin: auto;
  }
}
